<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>


<ul>
  <% @books.each do |book| %>
  <li><%= book.title %></li>
  <li><%= book.author.full_name %></li>
  <li><%= book.photo_url %></li>

<%end %>
</ul>


  <ul>
    <% @authors.each do |author| %>
    <li><%= author.books %></li>
    <li><%= author.full_name %></li>
 <%end %>
  </ul>
