
<div class="page-header">
  <h1><%= @book.title %></h1>
   <%= link_to 'Edit This Title|', edit_book_path %>
   <%= link_to 'Delete This Book', delete_book_path, method: :delete %>

</div>

<div class="row">
  <div class="col-xs-8">
    <% link_to 'Other Titles by This Author', author_path() %>
    <div class="thumbnail text-center">
      <%= image_tag @book.photo_url, class: "large" %>
    </div>
  </div>

  <div class="col-xs-4">

    <div class="well">

        <ul class="list-group">
          <li class="list-group-item"><strong> <%= number_to_currency @book.price %> </strong>
            <% if @book.inventory >= 1 %>
          <%= link_to 'Checkout', check_out_path(id: @book.id), method: :post, class: "btn btn-lg btn-block btn-success" %>
           <% else %>
              <div>Out Of Stock</div>
          <%= link_to 'Return This Book', check_in_path(id: @book.id), method: :delete, class: "btn btn-lg btn-block btn-warning" %>
            <% end %>
        </ul>

      </div>

  </div>
</div>
