<!DOCTYPE html>
<html>
<head>
  <title>IronLibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="page-header row">
      <h1>The Iron Librarian</h1>

      <div class="page-header col-xs-12 col-md-6">
        <ul class="nav nav-tabs">
          <li role="presentation"> <%= link_to 'Home', root_path %></li>
          <li role="presentation"><%= link_to 'Authors', authors_path()%></li>
          <li role="presentation"><%= link_to 'Books', books_path()%></li>
          <li role="presentation"><%= link_to 'Contact', root_path()%></li>
       </ul>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-tabs">
          <li role="presentation"><%= link_to 'Add A Book', new_book_path %></li>
          <li role="presentation" ><%= link_to 'Add An Author', new_book_path %></li>
          <li role="presentation"><%= link_to "Log In" %></li>
          <li role="presentation"><%= link_to "Log Out" %></li>
        </ul>
      </div>
    </div>

      <% if notice %>
      <p class = "alert alert-success">
        <%= notice %>
      </p>
      <% end %>

    <%= yield %>
  </div>


</body>
</html>
